Repository canonical/juju-dashboard, pull requests merged in 2025-05, with the labels that each got.

#1950 refactor: separate e2e env vars
  .env
  .env.e2e
  docs/local-e2e-setup.md
  playwright.config.ts
Labels: Review: Code +1

#1948 fix: don't trigger e2e from other labels
  .github/workflows/end-to-end.yml
Labels: Review: Code +1

#1951 chore(test): add an e2e test for accessing ReBAC Admin
  .github/workflows/e2e-jimm-k8s-charm-oidc-auth.yml
  e2e/helpers/auth-helpers.ts
  e2e/jimm/rebac.spec.ts
Labels: Review: Code needed, e2e

#1953 Free disk space for jimm workflow
  .github/actions/run-playwright/action.yml
  .github/actions/setup-k8s-charm/action.yml
  .github/actions/setup-machine-charm/action.yml
  .github/workflows/e2e-jimm-k8s-charm-oidc-auth.yml
Labels: Review: Code +1 (with changes), e2e

#1954 chore(CI): display logs if JIMM fails
  .github/actions/setup-jimm/action.yml
Labels: Review: Code +1

#1956 feat(e2e): Update test suite for models
  e2e/base/models.spec.ts
  e2e/helpers/actions/addModel.ts
  e2e/helpers/auth/Users.ts
  e2e/juju/model-access-control.spec.ts
  e2e/juju/web-cli.spec.ts
Labels: Review: Code +1, e2e

#1962 feat(e2e): Implement Actions test suite
  e2e/base/actions.spec.ts
  e2e/fixtures/setup.ts
  e2e/helpers/actions/addModel.ts
  e2e/helpers/actions/deployApplication.ts
  e2e/helpers/actions/index.ts
  e2e/helpers/auth/Users.ts
  e2e/helpers/objects/application.ts
  e2e/helpers/objects/index.ts
  e2e/utils/generateRandomName.ts
  e2e/utils/index.ts
Labels: Review: Code +1 (with changes), e2e

#1952 chore(ci): add e2e tests for accessing audit logs
  e2e/helpers/juju-cli.ts
  e2e/jimm/audit-logs.spec.ts
  e2e/jimm/rebac.spec.ts
Labels: Review: Code +1 (with changes), e2e

#1966 chore(ci): add e2e test for configuring an application
  e2e/base/configure.spec.ts
  e2e/helpers/auth/Users.ts
  e2e/helpers/auth/backends/Candid.ts
  e2e/helpers/auth/backends/Local.ts
  e2e/helpers/auth/backends/OIDC.ts
  e2e/helpers/objects/application.ts
Labels: Review: Code needed, e2e

#1965 chore(CI): Make e2e runs more reliable
  .github/actions/failure-log/action.yml
  .github/actions/setup-jimm/action.yml
  .github/actions/setup-k8s-charm/action.yml
  .github/actions/setup-machine-charm/action.yml
  .github/workflows/e2e-jimm-k8s-charm-oidc-auth.yml
  .github/workflows/e2e-juju-k8s-charm-local-auth.yml
  .github/workflows/e2e-juju-machine-charm-candid-auth.yml
  .github/workflows/e2e-juju-machine-charm-local-auth.yml
Labels: Review: Code needed, e2e

#1955 chore(CI): Add e2e test for cross model queries
  e2e/jimm/cross-model-queries.spec.ts
  src/pages/AdvancedSearch/SearchForm/SearchForm.tsx
Labels: Review: Code needed, e2e

#1963 Update model access test to support Candid
  e2e/helpers/auth/backends/OIDC.ts
  e2e/juju/model-access-control.spec.ts
Labels: Review: Code +1, e2e

#1967 chore(ci): add read-only tests
  e2e/base/actions.spec.ts
  e2e/base/configure.spec.ts
  e2e/base/models.spec.ts
  e2e/base/secrets.spec.ts
  e2e/helpers/actions/utils/give-access.ts
  e2e/jimm/audit-logs.spec.ts
  e2e/jimm/rebac.spec.ts
Labels: Review: Code +1 (with changes), e2e

#1969 chore(ci): use labels and test ids in e2e tests
  e2e/base/actions.spec.ts
  e2e/base/auth-validation.spec.ts
  e2e/base/configure.spec.ts
  e2e/base/controllers.spec.ts
  e2e/base/models.spec.ts
  e2e/jimm/audit-logs.spec.ts
  e2e/jimm/cross-model-queries.spec.ts
  e2e/jimm/rebac.spec.ts
  e2e/juju/model-access-control.spec.ts
  e2e/juju/web-cli.spec.ts
  src/auth/OIDCAuth.ts
  src/auth/index.ts
  src/auth/types.ts
  src/components/LogIn/LogIn.tsx
  src/components/LogIn/types.ts
  src/components/ModelTableList/StatusGroup/StatusGroup.tsx
  src/components/ModelTableList/StatusGroup/types.ts
  src/components/PrimaryNav/PrimaryNav.tsx
  src/components/PrimaryNav/types.ts
  src/components/WebCLI/index.ts
  src/components/WebCLI/types.ts
  src/juju/api-hooks/common.test.tsx
  src/juju/api.test.ts
  src/juju/api.ts
  src/juju/types.ts
  src/pages/AdvancedSearch/AdvancedSearch.tsx
  src/pages/AdvancedSearch/SearchForm/SearchForm.tsx
  src/pages/AdvancedSearch/SearchForm/types.ts
  src/pages/AdvancedSearch/types.ts
  src/pages/Logs/Logs.tsx
  src/pages/Logs/index.ts
  src/pages/Logs/types.ts
  src/panels/ShareModelPanel/ShareModel.tsx
  src/panels/ShareModelPanel/types.ts
  src/store/middleware/check-auth.test.ts
  src/store/middleware/model-poller.test.ts
Labels: Review: Code +1, e2e

#1968 chore(ci): use urls definition and automatically add feature flags
  e2e/base/actions.spec.ts
  e2e/base/auth-validation.spec.ts
  e2e/base/configure.spec.ts
  e2e/base/models.spec.ts
  e2e/base/secrets.spec.ts
  e2e/helpers/actions/deployApplication.ts
  e2e/helpers/auth/backends/Candid.ts
  e2e/helpers/auth/backends/Local.ts
  e2e/helpers/auth/backends/OIDC.ts
  e2e/helpers/objects/application.ts
  e2e/helpers/objects/model.ts
  e2e/jimm/audit-logs.spec.ts
  e2e/jimm/rebac.spec.ts
  e2e/juju/model-access-control.spec.ts
  e2e/juju/web-cli.spec.ts
  e2e/utils/addFeatureFlags.ts
  e2e/utils/index.ts
Labels: Review: Code +1 (with changes), e2e

#1971 chore(ci): Add secrets e2e test
  .github/workflows/e2e-juju-k8s-charm-local-auth.yml
  e2e/base/actions.spec.ts
  e2e/base/configure.spec.ts
  e2e/base/secrets.spec.ts
  e2e/helpers/actions/deployApplication.ts
  e2e/helpers/auth/Users.ts
  e2e/helpers/auth/backends/Candid.ts
  e2e/helpers/auth/backends/Local.ts
  e2e/helpers/credentials-template.yaml
  e2e/helpers/juju-cli.ts
  src/panels/ConfigPanel/ConfirmationDialog/index.ts
Labels: Review: Code +1 (with changes), e2e

#1972 chore(CI): set read permissions for workflows
  .github/workflows/actions.yml
  .github/workflows/e2e-jimm-k8s-charm-oidc-auth.yml
  .github/workflows/e2e-juju-k8s-charm-local-auth.yml
  .github/workflows/e2e-juju-machine-charm-candid-auth.yml
  .github/workflows/e2e-juju-machine-charm-local-auth.yml
  .github/workflows/end-to-end.yml
  .github/workflows/test.yml
  .github/workflows/tics-coverage.yml
Labels: Review: Code +1, e2e

#1970 chore(ci): update the e2e alerts to notify in the juju-dashboard channel
  .github/actions/send-notification/action.yml
  .github/workflows/end-to-end.yml
Labels: Review: Code +1

#1973 chore: add security policy notice
  SECURITY.md
Labels: Review: Code +1

#1974 fix: make the commands websocket authentication work with candid
  e2e/juju/web-cli.spec.ts
  src/components/WebCLI/WebCLI.test.tsx
  src/components/WebCLI/WebCLI.tsx
Labels: Review: QA +1, Review: Code +1, e2e

#1975 fix: small visual glitches in web CLI
  src/components/WebCLI/Output/Output.test.tsx
  src/components/WebCLI/Output/Output.tsx
  src/components/WebCLI/Output/consts.ts
  src/components/WebCLI/WebCLI.tsx
  src/components/WebCLI/__snapshots__/WebCLI.test.tsx.snap
  src/components/WebCLI/_webcli.scss
Labels: Review: QA +1, Review: Code +1

#1977 refactor: wrap WebCLI in a new component
  src/components/JujuCLI/JujuCLI.test.tsx
  src/components/JujuCLI/JujuCLI.tsx
  src/components/JujuCLI/index.ts
  src/pages/EntityDetails/EntityDetails.test.tsx
  src/pages/EntityDetails/EntityDetails.tsx
Labels: Review: QA needed, Review: Code needed
